*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100%;
}

li {
    margin-top: 0.5rem;
}

main {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
} h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

section {
    overflow: hidden;
}

article {
    height: 100%;
    display: flex;
    flex-direction: column;

    padding: 1rem;

    border-radius: 1rem;

    background-color: #83d2ff89;
    backdrop-filter: blur(2px);
} article:hover {
    background-color: rgba(105, 200, 255, 0.6);
}

#windowButtons {
    display: flex;
    justify-content: space-between;
} #windowButtons span {
    display: flex;
    align-items: center;
} #windowButtons span img {
    width: 100%;
    max-width: 1.5rem;
    margin-right: 0.3rem;
}

#windowButtons div {
    display: flex;
}

.articleBody {
    min-height: 0;
    display: flex;
    flex-direction: column;

    flex: 1;
    margin-top: 0.625rem;

    border-radius: 0.3rem;
    border: solid 1px #000;

    background-color: #e7e7e7;
    color: #000;
} .editFileBar {
    padding-left: 0.313rem;
    border-bottom: solid 1px #000;

    background: #E7E7E7;
    background: linear-gradient(0deg, rgba(231, 231, 231, 1) 0%, rgba(191, 191, 191, 1) 50%, rgba(231, 231, 231, 1) 100%);
    color: #000;

    display: flex;
} .editFileBar p {
    padding: 0.625rem 0.313rem;
    font-size: 0.95rem;
} .editFileBar .view {
    text-decoration: underline;
    font-weight: bold;
} .editFileBar .view:hover {
    text-decoration: underline;
    font-weight: bold;
    background-color: #0000001f;
    cursor: pointer;
}

.scrollContainer {
    overflow-y: auto;
    scrollbar-color: #032232 #cdcdcd;
}

/* TEXTS */
.articleText {
    flex: 1;
    padding: 0.625rem;

    line-height: 1.5;
}

.firstParagraph {
    border-top: solid 1px #000;
    padding-top: 1rem;
}

.paragraph {
    text-indent: 2rem;
}

.roleCategory {
    font-weight: bold;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 1rem;
} figure img {
    width: 100%;
    max-width: 40rem;
} figcaption, .tableContainer p {
    margin-top: 0.7rem;
    font-size: 0.9rem;

    color: #767676;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: #000 1px solid;

    font-size: 0.95rem;
}

/* HEAD */
.techTable thead th {
    padding: 0.75rem 1rem;

    text-align: left;
    font-weight: 600;

    background-color: #cdcdcd; /* mais escuro que o ímpar */
    color: #000;

    border-bottom: 1px solid #000;
}

/* BODY CELLS */
.techTable tbody td {
    padding: 0.75rem 1rem;
}

.techCell {
    display: flex;
    align-items: center;
    gap: 0.5rem;
} .techCell img {
    width: 100%;
    max-width: 1.5rem;
}

/* COLUNAS: par / ímpar */
.techTable tbody tr:nth-child(odd) td {
    background-color: #e2e2e2;
}

.techTable tbody tr:nth-child(even) td {
    background-color: #cdcdcd;
}

article footer {
    border-top: #000 1px solid;
    margin-top: 2rem;
    padding: 2rem;
    background-color: #cdcdcd;
}

article footer a {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    padding-left: 1rem;
    padding-right: 1rem;

    color: #1e1e1e;
    border: #4c4c4c solid 1px;
    border-radius: 0.3rem;

    background-image: linear-gradient(to bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -o-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -moz-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -webkit-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -ms-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);

    text-decoration: none;
} article footer a:hover {
    background-image: linear-gradient(to bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -o-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -moz-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -webkit-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -ms-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
}

/** extra small mobile */
@media screen and (max-width: 449px) {
    html {
        font-size: 12px;
    }
}

/** mobile */
@media screen and (min-width: 450px) and (max-width: 767px) {
    html {
        font-size: 13px;
    }

    section {
        padding: 1.5rem;
    }
}

/** tablet vertical portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    section {
        padding: 3rem 3rem 3rem 3rem;
    }
}

/** desktop screen */
@media screen and (min-width: 1024px) and (max-width: 1369px) {
    section {
        padding: 3rem 3rem 3rem 3rem;
    }
}

/** bigger desktop screen */
@media screen and (min-width: 1370px) {
    section {
        padding: 3rem 3rem 3rem 3rem;
    }
}