@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #fff;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.pWhite {
    color: #fff;
}

/* Making all the normal website content in front of the background sketch */
main {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 1;
}

/** ANIMATIONS */
.animHigher {
    transition: all .2s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.38);
} .animHigher:hover {
    transform: translateY(-10px);
    box-shadow: 15px 20px 10px rgba(0, 0, 0, 0.262);
}

.animBigger {
    transition: all .2s ease-in-out;
} .animBigger:hover {
    transform: scale(1.15);
}

/** NAVBAR */
.bottomNav {
    width: 100%;
    
    position: fixed;
    bottom: 0;

    padding-left: 1.5rem;

    background-image: linear-gradient(to bottom, #76aac870 40%, #5e8ea970 60%);
    /* background-color: #5e8ea989; */
    backdrop-filter: blur(5px);

    display: grid;
    grid-template-columns: 2fr 1fr;
    box-sizing: border-box;

    z-index: 2;
} .bottomNavLeft {
    display: flex;
    justify-content: center;
} .bottomNavRight {
    font-size: 0.95rem;
    padding: 0.5rem 1rem 0.5rem 0;

    justify-self: end;

    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#borderHomeBtn {
    padding: 0.1rem;
    margin: 0.2rem 0 0.2rem 0;

    border-radius: 100%;
    
    background: #14334C;
    background: linear-gradient(0deg, rgba(20, 51, 76, 1) 0%, rgba(87, 193, 255, 1) 100%);
} #bgHomeBtn {
    display: block;

    padding: 0.5rem;

    border-radius: 100%;
    
    background: #57C1FF;
    background: linear-gradient(0deg, rgba(87, 193, 255, 1) 13%, rgba(20, 51, 76, 1) 100%);
} #bgHomeBtn img {
    width: 100%;
    max-width: 2rem;
}

#links {
    padding-left: 2rem;

    width: 100%;

    display: flex;
    align-items: center;
} #links a {
    padding: 0 1rem 0 1rem;
    margin-right: 1rem;

    height: 100%;

    display: flex;
    align-items: center;

    /* border: solid 1px #000; */
    border-radius: 0.5rem;

    text-decoration: none;
    color: #fff;
    text-shadow: -0.1rem 0 rgb(102, 102, 102), 0 0.1rem black, 0.1rem 0 black, 0 -0.1rem black;
} #links a > img {
    width: 100%;
    max-width: 1.7rem;
    margin-right: 0.5rem;
} .notOnIt, .notOpen:hover {
    background: #ffffff;
    background: linear-gradient(340deg, #c4e0f031 58%, #c4e0f0b6 100%);
    box-shadow: inset 0.1rem 0.1rem 0.3rem #ffffff84, /* shadow top left */
                inset -0.1rem -0.1rem 0.3rem #0832547e; /* shadow bottom right */
} .notOnIt:hover, .notOpen:active {
    background: #ffffff;
    background: linear-gradient(340deg, #c4e0f0ae 58%, #c4e0f0 100%);
    box-shadow: inset 0.1rem 0.1rem 0.3rem #ffffff, /* shadow top left */
                inset -0.1rem -0.1rem 0.3rem #083254ab; /* shadow bottom right */
}

/* BACKGROUND SKETCH */
#divCanvas {
    position: fixed;
}

#pageTitle {
    display: flex;
    align-items: center;
} #pageTitle img {
    margin-left: 1.2rem;
}

h1 {
    font-size: 4.2rem;
} h2 {
    font-size: 3rem;
}

/** INTRO */
#intro {
    padding-left: 20%;
    padding-right: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 90vh;
} 

#intro > div > div {
    display: flex;
    flex-direction: row;
}
#intro p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
} #intro img {
    width: 100%;
    max-width: 4.5rem;
    object-fit: cover;
    flex-shrink: 0;

    border: 5px solid #d6d6d6;

    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}

#intro > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
} #intro footer {
    display: flex;
    align-items: center;

    margin-top: 1.8rem;
}

.linkedin {
    background-image: url("https://imgs.search.brave.com/UMjKDE7hsW9bSsrDrF_o5rKYgf15Fz-ebZFxNL0ZMIg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvdGh1/bWJuYWlscy8wMTkv/ODc0LzM0MS9zbWFs/bC9saW5rZWRpbi1h/cHBzLWljb24tZnJl/ZS1wbmcucG5n");
    background-size: contain;
    background-repeat: no-repeat;
} .github {
    background-image: url("https://imgs.search.brave.com/I4iCgtsDuvQiTkJO4-f2Zab2rBeQRTvhv0h0SspQH00/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9mcmVl/cG5nbG9nby5jb20v/aW1hZ2VzL2FsbF9p/bWcvZ2l0aHViLW1h/cmstd2hpdGUtbG9n/by1iMWMwLnBuZw");
    background-size: contain;
    background-repeat: no-repeat;
} .contactMe {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    padding-left: 1.8rem;
    padding-right: 1.8rem;

    margin-left: 0.6rem;
    margin-right: 0.6rem;

    color: #1e1e1e;
    border: #4c4c4c solid 1px;
    border-radius: 0.5rem;

    background-image: linear-gradient(to bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -o-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -moz-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -webkit-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -ms-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);

    text-decoration: none;
} .contactMe:hover {
    background-image: linear-gradient(to bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -o-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -moz-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -webkit-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -ms-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);

    cursor: pointer;
}


/** PROJECTS  */
#projectsTitle {
    padding-left: 3rem;
    margin-bottom: 1rem;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;

    color: #000;
}

#projects > div {
    margin: 0 3rem 6rem 3rem;
    padding: 1rem;

    border-radius: 1rem;

    background-color: #83d2ff89;
    backdrop-filter: blur(2px);
} #projects > div:hover {
    background-color: rgba(105, 200, 255, 0.6);
}

.project header {
    padding: 0.5rem 0 1.25rem 0;

    display: flex;
    justify-content: space-between;
} .project header div {
    display: flex;
} .project header div img {
    width: 100%;
    max-width: 1.5rem;
}

header button {
    padding-top: 0.12rem;
    padding-bottom: 0.12rem;
    border: solid #4c4c4c 1px;
    border-radius: 0.3rem;

    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} header button:hover {
    cursor: pointer;
}

.headerBtn {
    padding-left: 10px;
    padding-right: 10px;

    background-image: linear-gradient(to bottom, #8dc6e7c7 40%, #c4e0f0c7 50%);
    background-image: -o-linear-gradient(bottom, #8dc6e7c7 40%, #c4e0f0c7 50%);
    background-image: -moz-linear-gradient(bottom, #8dc6e7c7 40%, #c4e0f0c7 50%);
    background-image: -webkit-linear-gradient(bottom, #8dc6e7c7 40%, #c4e0f0c7 50%);
    background-image: -ms-linear-gradient(bottom, #8dc6e7c7 40%, #c4e0f0c7 50%);
} .headerBtn:hover {
    background-image: linear-gradient(to bottom, #57c1ff 40%, #9cdbffc7 50%);
    background-image: -o-linear-gradient(bottom, #57c1ff 40%, #9cdbffc7 50%);
    background-image: -moz-linear-gradient(bottom, #57c1ff 40%, #9cdbffc7 50%);
    background-image: -webkit-linear-gradient(bottom, #57c1ff 40%, #9cdbffc7 50%);
    background-image: -ms-linear-gradient(bottom, #57c1ff 40%, #9cdbffc7 50%);
}

.closeBtn {
    padding-left: 1rem;
    padding-right: 1rem;

    background-image: linear-gradient(to bottom, #d45d5dc7 40%, #f1a2a2c7 50%);
    background-image: -o-linear-gradient(bottom, #d45d5dc7 40%, #f1a2a2c7 50%);
    background-image: -moz-linear-gradient(bottom, #d45d5dc7 40%, #f1a2a2c7 50%);
    background-image: -webkit-linear-gradient(bottom, #d45d5dc7 40%, #f1a2a2c7 50%);
    background-image: -ms-linear-gradient(bottom, #d45d5dc7 40%, #f1a2a2c7 50%);
} .closeBtn:hover {
    background-image: linear-gradient(to bottom, #ed3030c7 40%, #ff7070c7 50%);
    background-image: -o-linear-gradient(bottom, #ed3030c7 40%, #ff7070c7 50%);
    background-image: -moz-linear-gradient(bottom, #ed3030c7 40%, #ff7070c7 50%);
    background-image: -webkit-linear-gradient(bottom, #ed3030c7 40%, #ff7070c7 50%);
    background-image: -ms-linear-gradient(bottom, #ed3030c7 40%, #ff7070c7 50%);
}



.project .body, .project footer {
    padding: 1.5rem;
}

.project .body {
    background-color: #e7e7e7;
    padding-bottom: 2.2rem;
    border-radius: 0.25rem 0.25rem 0 0;
} .project .body .description {
    margin-top: 0.65rem;
    margin-bottom: 1.25rem;
} .project footer {
    border-radius: 0 0 0.25rem 0.25rem;
}

.projectImg {
    border: solid #4c4c4c 1px;
    border-radius: 0.3rem;
}

.projectTech img {
    height: 100%;
} .project figcaption {
    margin: 0;
} .projectTech figure {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
} .projectTech figure {
    height: 1rem;
    align-items: center;

    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    padding-left: 1rem;
    padding-right: 1rem;

    margin-bottom: 0.3rem;

    color: #1e1e1e;
    border: #4c4c4c solid 1px;
    border-radius: 0.3rem;
} .project img {
    margin-right: 0.3rem;
}
.projectTech figure:not(:has(img))::before {
    content: "";
    height: 1rem;
    display: inline-block;
}

.project footer {
    display: flex;
    justify-content: end;

    border-top: #c8c8c8 solid 1px;

    background-color: #e0e0e0;
}

.project footer a {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    padding-left: 1rem;
    padding-right: 1rem;

    color: #1e1e1e;
    border: #4c4c4c solid 1px;
    border-radius: 0.3rem;

    background-image: linear-gradient(to bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -o-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -moz-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -webkit-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -ms-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);

    text-decoration: none;
} .project footer a:hover {
    background-image: linear-gradient(to bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -o-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -moz-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -webkit-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -ms-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
}

.cStudy {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.iconProjectsClosed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
} .iconProjectsClosed figure {
    grid-column: span 1fr;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.iconProjectClosed span {
    backdrop-filter: blur(2px);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 15px;
    height: 80%;
    width: 80%;
}

.iconProjectClosed img {
    transition: all .2s ease-in-out;
    margin-bottom: 0.62rem;
} .iconProjectClosed span:hover {
    cursor: pointer;
    background-color: #83d2ff2f;
} .iconProjectClosed span:hover > img {
    cursor: pointer;
    transform: scale(1.15);
}

/** ABOUT */
#about h2 {
    margin-bottom: 1rem;
}

#about {
    padding: 3rem;

    /* background-color: #e7e7e7;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, #46a6de 1px, transparent 1px),
        linear-gradient(to bottom, #46a6de 1px, transparent 1px); */
} #about header button {
    cursor: auto;
}

#aboutContent {
    padding: 1.25rem 0.625rem 0.625rem 0.625rem;
    border-radius: 1rem;

    transition: background-color 0.5s ease;
    background-color: #83d2ff89;
    backdrop-filter: blur(2px);
} #aboutContent:hover {
    background-color: rgba(105, 200, 255, 0.6);
}

#aboutContent header, #aboutContent header div {
    display: flex;
    justify-content: space-between;
} #aboutContent header span {
    display: flex;
    align-items: center;
} #aboutContent header span img {
    width: 100%;
    max-width: 1.5rem;
    margin-right: 0.3rem;
}

#aboutBody {
    margin-top: 0.625rem;

    border-radius: 0.3rem;
    border: solid 1px #000;

    overflow: hidden;
} .editFileBar {
    padding: 0.625rem;
    border-bottom: solid 1px #000;

    background: #E7E7E7;
    background: linear-gradient(0deg, rgba(231, 231, 231, 1) 0%, rgba(191, 191, 191, 1) 50%, rgba(231, 231, 231, 1) 100%);
    color: #000;

    display: flex;
} .editFileBar p {
    margin-right: 0.625rem;
    font-size: 0.95rem;
}

#aboutTxt {
    padding: 0.625rem;

    background-color: #e7e7e7;
    color: #000;

    line-height: 1.5;
}

/** SKILLS */
#skills {
    height: 70vh;
    min-height: 0;
    padding-top: 6rem;
    padding-left: 3rem;

    display: grid;
    grid-template-columns: 40% 60%;
}

#skills article {
    height: 100%;
    min-height: 0;

    align-self: end;
    display: flex;

    transition: background-color 0.5s ease;
    background-color: #76aac889;
    backdrop-filter: blur(2px);
    border-radius: 1rem;

    padding: 0.625rem;
} #skills article:hover {
    background-color: #76aac8a2;
}

#skillsBody {
    width: 60%;
    background-color: #e7e7e7;
    color: black;
    border-radius: 0.625rem;
    padding: 0.625rem;

    overflow: hidden;
}

.skillsBodyScroll {
    height: 100%;
    overflow-y: auto;
    scrollbar-color: #032232 #e7e7e7;
    scrollbar-width: thin;
}

#skillsBody a {
    text-decoration: none;
    color: #000;
}

#skillsBody + header {
    box-sizing: border-box;

    width: 40%;
    height: 100%;

    padding-left: 10px;
    padding-top: 10%;
    padding-bottom: 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
} #skillsBody + header img {
    background-color: #e7e7e7;
    padding: 0.625rem;
    border: solid 0.44rem #042941;
    border-radius: 0.625rem;
    
    max-width: 50px;
    width: 100%;
    align-self: center;
} #skillsBody + header div {
    display: flex;
    flex-direction: column;
}

#skillsBody + header button {
    color: #fff;
    background: none;
    border-width: 1px;
    border-color: transparent;
    padding: 1rem;
    text-align: left;
} #skillsBody + header button:hover, .skillsTabActive {
    background: linear-gradient(0deg,rgba(118, 170, 200, 0.145) 0%, rgba(83, 118, 140, 0.288) 50%, rgba(118, 170, 200, 0.259) 100%);
    backdrop-filter: blur(2px);

    border: solid 1px #0A1520;
    border-radius: 0.44rem;

    cursor: pointer;
}

#skillsBody figure {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    margin: 0;
    border-radius: 1rem;
    border: solid 1px #6f6f6f00;
} #skillsBody figure:hover {
    background: linear-gradient(0deg,rgb(220, 220, 220) 0%, rgb(210, 210, 210) 50%, rgb(220, 220, 220) 100%);
    border: solid 1px #6f6f6f;
} #skillsBody img {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;

    max-width: 2.5rem;
    width: 100%;
    margin-right: 1rem;
} #skillsBody aside {
    margin-left: auto;
    align-self: stretch;
    display: flex;
    align-items: center;

    padding-left: 1rem;
    padding-right: 1rem;

    border-radius: 0 1rem 1rem 0;
} #skillsBody aside:hover {
    background-color: #00000014;
    border-left: solid 1px #6f6f6f;
}

#skillsText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} #skillsText p {
    width: 60%;
    margin-top: 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

/** FOOTER */
#pageFooter {
    width: 100%;
    height: 90vh;

    cursor: wait;
    
    background: #060F18D4;
    background: linear-gradient(0deg, rgba(6, 15, 24, 0.85) 0%, rgba(6, 15, 24, 0.85) 70%, rgba(6, 15, 24, 0) 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 2rem;
    height: 2rem;
    border: 5px solid rgb(20, 127, 190);
    border-bottom-color: #46a6de;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: loader 1s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#message {
    display: flex;
    align-items: center;

    margin-bottom: 1rem;
} #message p {
    margin-left: 1rem;
}

#extraContacts {
    display: flex;
} #pageFooter a {
    margin: 1rem 0.2rem 0 0.2rem;

    width: 1.8rem;
    height: 1.8rem;
    display: block;
} 