@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #fff;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.pWhite {
    color: #fff;
}

#divCanvas {
    position: fixed;
    /* top: 0;
    left: 0;
    z-index: 0; */
}

main {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 1;
}

/** NAVBAR */
nav {
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
} #navbar {
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    
    border-bottom: solid 1px #ffffff1b;
}

#links {
    width: 100%;

    display: flex;
    justify-content: space-between;
} #links a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-size: 5rem;
}

/** INTRO */
#intro {
    padding-left: 20%;
    padding-right: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 90vh;
} 

#intro > div > div {
    display: flex;
    flex-direction: row;
}
#intro p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    margin-right: 10px;
} #intro img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    flex-shrink: 0;

    border: 5px solid #d6d6d6;

    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}

#intro > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
} #intro footer {
    display: flex;
    align-items: center;

    margin-top: 30px;
}

#intro a {
    width: 30px;
    height: 30px;
    display: block;
} .linkedin {
    background-image: url("https://imgs.search.brave.com/UMjKDE7hsW9bSsrDrF_o5rKYgf15Fz-ebZFxNL0ZMIg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvdGh1/bWJuYWlscy8wMTkv/ODc0LzM0MS9zbWFs/bC9saW5rZWRpbi1h/cHBzLWljb24tZnJl/ZS1wbmcucG5n");
    background-size: contain;
    background-repeat: no-repeat;
} .github {
    background-image: url("https://imgs.search.brave.com/I4iCgtsDuvQiTkJO4-f2Zab2rBeQRTvhv0h0SspQH00/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9mcmVl/cG5nbG9nby5jb20v/aW1hZ2VzL2FsbF9p/bWcvZ2l0aHViLW1h/cmstd2hpdGUtbG9n/by1iMWMwLnBuZw");
    background-size: contain;
    background-repeat: no-repeat;
} #intro button {
    padding-top: 20px;
    padding-bottom: 20px;

    padding-left: 30px;
    padding-right: 30px;

    margin-left: 10px;
    margin-right: 10px;

    color: #1e1e1e;
    border: #4c4c4c solid 1px;
    border-radius: 5px;

    background-image: linear-gradient(to bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -o-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -moz-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -webkit-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -ms-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);

    text-decoration: none;
} #intro button:hover {
    background-image: linear-gradient(to bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -o-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -moz-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -webkit-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -ms-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);

    cursor: pointer;
}


/** PROJECTS  */
#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    color: #000;
}

#projects > div {
    padding: 50px;
}

.project {
    border-radius: 15px;
    border: #83d2ff89 solid 10px;
    backdrop-filter: blur(5px);
}

.project header {
    padding: 20px;

    display: flex;
    justify-content: space-between;

    background-color: #83d2ff89;
    backdrop-filter: blur(2px);
} .project header div {
    display: flex;
}

.project header span {
    padding-top: 2px;
    padding-bottom: 2px;
    border: solid #4c4c4c 1px;
    border-radius: 5px;

    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} .headerBtn {
    padding-left: 10px;
    padding-right: 10px;

    background-image: linear-gradient(to bottom, #8dc6e7c7 40%, #c4e0f0c7 50%);
    background-image: -o-linear-gradient(bottom, #8dc6e7c7 40%, #c4e0f0c7 50%);
    background-image: -moz-linear-gradient(bottom, #8dc6e7c7 40%, #c4e0f0c7 50%);
    background-image: -webkit-linear-gradient(bottom, #8dc6e7c7 40%, #c4e0f0c7 50%);
    background-image: -ms-linear-gradient(bottom, #8dc6e7c7 40%, #c4e0f0c7 50%);
} .closeBtn {
    padding-left: 15px;
    padding-right: 15px;

    background-image: linear-gradient(to bottom, #d45d5dc7 40%, #f1a2a2c7 50%);
    background-image: -o-linear-gradient(bottom, #d45d5dc7 40%, #f1a2a2c7 50%);
    background-image: -moz-linear-gradient(bottom, #d45d5dc7 40%, #f1a2a2c7 50%);
    background-image: -webkit-linear-gradient(bottom, #d45d5dc7 40%, #f1a2a2c7 50%);
    background-image: -ms-linear-gradient(bottom, #d45d5dc7 40%, #f1a2a2c7 50%);
}



.project .body, .project footer {
    padding: 25px;
}

.project .body {
    background-color: #e7e7e7;
    padding-bottom: 35px;
} .project .body .description {
    margin-top: 10px;
    margin-bottom: 20px;
}

.projectImg {
    border: solid #4c4c4c 1px;
    border-radius: 5px;
}

.projectTech img {
    height: 100%;
} .project figcaption {
    margin: 0;
} .projectTech figure {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
} .projectTech figure {
    height: 15px;
    align-items: center;

    padding-top: 5px;
    padding-bottom: 5px;

    padding-left: 15px;
    padding-right: 15px;

    margin-bottom: 5px;

    color: #1e1e1e;
    border: #4c4c4c solid 1px;
    border-radius: 5px;
} .project img {
    margin-right: 5px;
}
.projectTech figure:not(:has(img))::before {
    content: "";
    height: 15px;
    display: inline-block;
}

.project footer {
    display: flex;
    justify-content: end;

    border-top: #c8c8c8 solid 1px;

    background-color: #e0e0e0;
}

.project footer a {
    padding-top: 5px;
    padding-bottom: 5px;

    padding-left: 15px;
    padding-right: 15px;

    color: #1e1e1e;
    border: #4c4c4c solid 1px;
    border-radius: 5px;

    background-image: linear-gradient(to bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -o-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -moz-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -webkit-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);
    background-image: -ms-linear-gradient(bottom, #c2c2c2 40%, #d6d6d6 50%);

    text-decoration: none;
} .project footer a:hover {
    background-image: linear-gradient(to bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -o-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -moz-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -webkit-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
    background-image: -ms-linear-gradient(bottom, #87c3e6 40%, #c4e0f0 50%);
}

.cStudy {
    margin-left: 5px;
    margin-right: 5px;
}

.iconProjectClosed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
} .iconProjectClosed figure {
    grid-column: span 1fr;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/** ABOUT */
#about {
    padding: 50px;

    background-color: #e7e7e7;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, #46a6de 1px, transparent 1px),
        linear-gradient(to bottom, #46a6de 1px, transparent 1px);
}